.wrapper ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.wrapper ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

.wrapper ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #9a9a9a;
}

.info-mb-5 {
  margin-bottom: 5px;
}

.document-link {
  cursor: pointer;
}
.btn-group.open .document-link.dropdown-toggle {
  box-shadow: none;
}
.icon-cards {
  width: 98px;
  height: 72px;
  background-size: contain;
  display: inline-block;
  background: url("../../svg/cards.svg") no-repeat center;
}
.icon-card {
  width: 98px;
  height: 72px;
  background-size: contain;
  display: inline-block;
  background: url("../../svg/card.svg") no-repeat center;
}