.info-mb-5 {
  margin-bottom: 5px;
}

.document-link {
  cursor: pointer;
}
.btn-group.open .document-link.dropdown-toggle {
  box-shadow: none;
}
.icon-cards {
  width: 98px;
  height: 72px;
  background-size: contain;
  display: inline-block;
  background: url("../../svg/cards.svg") no-repeat;
}
.icon-card {
  width: 98px;
  height: 72px;
  background-size: contain;
  display: inline-block;
  background: url("../../svg/card.svg") no-repeat;
}