// new
$chat-btn-message-width: 92px;
$chat-header-height: 40px;
$chat-message-input-height: 55px;
$chat-header-bgcolor: #f9fafc;
$chat-content-bgcolor: #ffffff;
$chat-message-input-bgcolor: #ffffff;
$chat-header-brcolor: #f4f4f4;
$chat-content-brcolor: #f4f4f4;
$chat-message-sender-color: #ffffff;
$chat-message-sender-dcolor: #d2d6de;
$chat-message-sender-bgcolor: #3c8dbc;
$chat-message-receiver-color: #444444;
$chat-message-receiver-dcolor: #999;
$chat-message-receiver-bgcolor: #d2d6de;
$chat-message-info-color: #999;
$chat-mobile-sidebar-width: 280px;
$chat-mobile-sidebar-sm-width: 240px;


.chat-wrapper {
  @include clearfix;
  background-color: $white;
  position: relative;
  border-radius: 3px;
  border-top: 3px solid #3c8dbc;
  margin: 0 auto 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 290px;
  height: 70vh;
  min-height: 200px;
  max-height: 720px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
    background-color: #9a9a9a;
  }

  .scroll-to-bottom {
    position: absolute;
    bottom: 35px;
    right: -40px;
    width: 35px;
    height: 35px;
    background: white url("../../images/arrow-down.png") no-repeat center center;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(198, 198, 198);
    opacity: 0;
    transition: opacity .3s, right .3s;
    cursor: pointer;

    &__unread {
      right: -7px;
      bottom: -7px;
    }
    &:hover {
      background-color: #f9f9f9;
    }
  }
  .scroll-to-bottom.active {
    right: 35px;
    opacity: 1;
  }
}
.chat-sidebar {
  min-width: 280px;
  max-width: 340px;
  width: 40%;
  height: 100%;
  background: $white;
  overflow: hidden;
  border-right: 1px solid $chat-content-brcolor;
  transition: transform 0.3s ease-in-out, margin-left 0.3s ease-in-out;

  &__header {
    @include clearfix;
    background-color: $chat-header-bgcolor;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid $chat-header-brcolor;
    height: $chat-header-height;

    &-title {
      font-weight: 500;
      font-family: 'Source Sans Pro', sans-serif;
      display: inline-block;
      font-size: 18px;
      margin: 0;
      line-height: 1;
    }
  }

  &__item {
    height: calc(100% - #{$chat-header-height});
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.mobile.chat-wrapper {
  .chat-sidebar {
    min-width: $chat-mobile-sidebar-width;
    max-width: $chat-mobile-sidebar-width;
    margin-left: -#{$chat-mobile-sidebar-width}
  }
  &.sidebar-open {
    .chat-sidebar {
      transform: translate($chat-mobile-sidebar-width, 0);
    }
    .chat-content {
      transform: translate($chat-mobile-sidebar-width, 0);
    }
    .chat-msg {
      overflow-y: hidden;
    }
  }
}

@media (max-width: 369px) {
  .mobile.chat-wrapper {
    .chat-sidebar {
      min-width: $chat-mobile-sidebar-sm-width;
      max-width: $chat-mobile-sidebar-sm-width;
      margin-left: -#{$chat-mobile-sidebar-sm-width}
    }
    &.sidebar-open {
      .chat-sidebar {
        transform: translate($chat-mobile-sidebar-sm-width, 0);
      }
      .chat-content {
        transform: translate($chat-mobile-sidebar-sm-width, 0);
      }
    }
  }
}
.chat-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__link {
    position: relative;
    color: #444444;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 10px;

    &:hover, &:active, &:focus{
      color: #444444;
      text-decoration: none;
    }
  }
  &__item {
    padding: 0;
  }
  &__item:hover,
  &__item.active {
    background-color: #f4f4f5;
  }
  &__user-icon {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    top: 10px;
    left: 10px;

    .user-image {
      border-radius: 50%;
      margin: 0 auto;
      width: 45px;
      padding: 2px;
      border: 1px solid #d2d6de;
    }
  }
  &__unread {
    right: -4px;
  }

  &__user-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 55px;
    min-height: 45px;
  }
  &__user-name {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
  }
  &__last-message {
    flex-grow: 0;
    color: #999;
  }
  &__user-name,
  &__last-message {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }
}
.chat-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;

  &__header {
    @include clearfix;
    background-color: $chat-header-bgcolor;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid $chat-header-brcolor;
    height: $chat-header-height;

    &-title {
      font-weight: 500;
      font-family: 'Source Sans Pro', sans-serif;
      display: inline-block;
      font-size: 18px;
      margin: 0;
      line-height: 1;
    }
    &-btn {
      margin-right: 10px;
      float: left;
      background-color: transparent;
      background-image: none;
      padding: 0 10px;
      font-family: 'fontAwesome', serif;
      cursor: pointer;
      color: #adadad;
      font-size: 14px;
      &:before {
        content: "\F0C9";
      }
    }
  }
  &__message {
    position: relative;
    width: 100%;
    flex-grow: 1;
  }
  &__message-input {
    display: none;
    height: $chat-message-input-height;
    border-top: 1px solid $chat-content-brcolor;
    padding: 10px;
    background-color: $chat-message-input-bgcolor;
    width: 100%;
  }
  &__message-input.active{
    display: block;
  }
}
.chat-input-group {
  @include clearfix;
  width: 100%;
  position: relative;

  textarea {
    resize: none;
    position: absolute;
    bottom: 0;
    width: calc(100% - #{$chat-btn-message-width});
    left: 0;
  }

  .chat-bth {
    width: $chat-btn-message-width;
    float: right;
    position: relative;
    font-size: 0;
    white-space: nowrap;

    .preloader {
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
      z-index: 1;
      margin-right: 10px;
    }
  }
}
.chat-msg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $chat-content-bgcolor;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}
.chat-empty-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.03);
  padding: 4px 10px;
  border-radius: 10px;
  color: #444444;
}
.chat-msg-item {
  @include clearfix;
  display: block;
  margin-bottom: 25px;

  &__info {
    @include clearfix;
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
    &-name {
      display: inline-block;
      font-weight: 400;
      color: $chat-message-info-color;
    }
  }
  &__img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
  }
  &__text {
    display: inline-block;
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: $chat-message-receiver-bgcolor;
    border: 1px solid $chat-message-receiver-bgcolor;
    margin: 5px 0 0 15px;
    color: $chat-message-receiver-color;
    float: left;
    max-width: 600px;

    &:before,
    &:after {
      position: absolute;
      right: 100%;
      top: 15px;
      border: solid transparent;
      border-right-color: $chat-message-receiver-bgcolor;
      content: ' ';
      height: 0;
      width: 0;
      pointer-events: none;
    }
    &:before{
      border-width: 6px;
      margin-top: -6px;
    }

    &-item {
      white-space: pre-wrap;
    }
  }
  &__timestamp {
    font-size: 11px;
    display: block;
    float: none !important;
    padding-top: 2px;
    font-weight: 400;
    color: $chat-message-receiver-dcolor;
  }
  &__timestamp.pull-left {
    text-align: right;
  }
  &__timestamp.pull-right {
    text-align: right;
    color: $chat-message-sender-dcolor;
  }
}
.right.chat-msg-item {
  & .chat-msg-item{
    &__img {
      float: right;
    }
    &__text {
      background: $chat-message-sender-bgcolor;
      border-color: $chat-message-sender-bgcolor;
      color: $chat-message-sender-color;
      margin-right: 15px;
      margin-left: 0;
      float: right;

      &:before,
      &:after {
        right: auto;
        left: 100%;
        border-right-color: transparent;
        border-left-color: $chat-message-sender-bgcolor;
      }
    }
  }
}
.unread {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: $blue;
  border-radius: 50%;
  text-align: center;
  color: $white;
  width: 18px;
  height: 18px;
  font-size: 12px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .chat-wrapper {
    height: 75vh;
  }
}
@media (min-width: 992px) {
  .chat-wrapper {
    height: 79vh;
  }
}