.table-striped>tbody>tr.even {
  background-color: $white;
}
.table-striped>tbody>tr.odd {
  background-color: #f9f9f9;
}
.empty-row {
  td {
    padding: 20px !important;
    vertical-align: middle !important;
    font-weight: 600;
    font-size: 16px;
  }
}
div.dataTables_wrapper div.dataTables_length,
div.dataTables_wrapper div.dataTables_filter {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
div.dataTables_wrapper div.dataTables_length select {
  margin-left: 0.5em;
  width: 94px;
}
div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label{
  vertical-align: middle;
}
div.dataTables_wrapper div.dataTables_length select,
div.dataTables_wrapper div.dataTables_filter input{
  vertical-align: baseline;
}
div.dataTables_wrapper div.dataTables_action{
  margin-bottom: 5px;
}

.documents-table-wrapper {
  .dataTable {
    margin-bottom: 10px !important;
  }
  .dataTables_filter {
    display: none !important;
  }
  .dataTables {
    &_action {
      &__mobile {
        display: block;
      }
      &__desktop {
        display: none;
      }
    }
  }
  .document_action{
    .dropdown-menu>li>a {
      font-size: 12px;
      padding: 3px 10px;
    }
    & .btn-group {
      display: flex;
      flex-wrap: nowrap;
      & > .btn {
        float: none;
        font-size: 12px;
        padding: 6px;
        white-space: normal;
      }
    }
  }
  .document_status {
    .label {
      white-space: normal;
      display: inline-block;
      text-indent: -9999px;
      overflow: hidden;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
  td.status {
    vertical-align: middle;
    text-align: center;
  }

  th.created_at,
  td.created_at,
  th.manager_full_name,
  td.manager_full_name,
  th.client_full_name,
  td.client_full_name,
  th.status,
  td.status,
  th.name,
  td.name {
    display: none;
  }
  .file a{
    word-break: break-all;
  }
}
.files-table-wrapper {
  .dataTable {
    margin-bottom: 10px !important;
  }
  .dataTables_filter {
    display: none !important;
  }
  .dataTables {
    &_action {
      &__mobile {
        display: block;
      }
      &__desktop {
        display: none;
      }
    }
  }
  th.owner,
  td.owner {
    display: none;
  }
}
.files-table-wrapper.admin {
  th.owner,
  td.owner {
    display: table-cell;
  }
}

.document_action,
.document_status {
  .dropdown-backdrop {
    display: none !important;
  }
}
.document_action .preloader{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.files-table-wrapper.dataTables_wrapper div.dataTables_filter,
div.documents-table-wrapper.dataTables_wrapper div.dataTables_filter{
  float: none;
}
div.files-table-wrapper.dataTables_wrapper div.dataTables_action,
div.documents-table-wrapper.dataTables_wrapper div.dataTables_action{
  margin-bottom: 15px;
}

.history-pay-table-wrapper {
  th.created_at,
  td.created_at,
  th.operation,
  td.operation,
  th.balance,
  td.balance{
    display: none;
  }
}

@media (min-width: 480px) {
  .documents-table-wrapper {
    .document_action {
      & .btn-group {
        & > .btn {
          white-space: nowrap;
        }
      }
    }
    .dataTables_filter {
      display: inline-block !important;
    }
  }
  .files-table-wrapper {
    .dataTables_filter {
      display: inline-block !important;
    }
  }
}
@media (min-width: 768px) {
  div.files-table-wrapper.dataTables_wrapper div.dataTables_action,
  div.documents-table-wrapper.dataTables_wrapper div.dataTables_action{
    margin-bottom: 5px;
  }
  div.dataTables_wrapper div.dataTables_filter{
    float: right;
  }
  div.dataTables_wrapper div.dataTables_action{
    float: right;
  }
  .documents-table-wrapper {
    .dataTables {
      &_action {
        &__mobile {
          display: none;
        }
        &__desktop {
          display: block;
        }
      }
    }
    th.manager_full_name,
    td.manager_full_name {
      display: table-cell;
    }
  }
  .files-table-wrapper {
    .dataTables {
      &_action {
        &__mobile {
          display: none;
        }
        &__desktop {
          display: block;
        }
      }
    }
  }
  .history-pay-table-wrapper {
    th.created_at,
    td.created_at{
      display: table-cell;
    }
  }
}
@media (min-width: 992px) {
  .documents-table-wrapper {
    th.created_at,
    td.created_at,
    th.client_full_name,
    td.client_full_name {
      display: table-cell;
    }
    .document_action{
      .dropdown-menu>li>a {
        font-size: 14px;
        padding: 3px 15px;
      }

      & .btn-group {
        & > .btn {
          font-size: 14px;
        }
      }
    }
  }
  .history-pay-table-wrapper {
    th.balance,
    td.balance{
      display: table-cell;
    }
  }
}
@media (min-width: 1100px) {
  .documents-table-wrapper {
    th.name,
    td.name,
    th.status,
    td.status {
      display: table-cell;
    }
  }
  .history-pay-table-wrapper {
    th.operation,
    td.operation{
      display: table-cell;
    }
  }
}
@media (min-width: 1250px) {
  .documents-table-wrapper {
    .document_status {
      .label {
        width: auto;
        height: auto;
        text-indent: 0;
        border-radius: .25em;
        padding: .3em .6em .3em;
      }
    }
    th.name,
    td.name {
      display: table-cell;
    }
  }
}