.has-success {
  .select2-container--default .select2-selection--single,
  .form-control {
    border-color: #00a65a;
    box-shadow: none;
  }
}
.has-success .help-block,
.has-success .help-block.with-success {
  color: #00a65a;
}

.has-error {
  .select2-container--default .select2-selection--single,
  .form-control {
    border-color: #dd4b39;
    box-shadow: none;
  }
}

.has-error .help-block,
.has-error .help-block.with-errors {
  color: #dd4b39;
}