$border-radius: 15px;

.recommendation-box {
    margin-bottom: 15px;
    border-radius: $border-radius;
    box-shadow: 0px 4px 7px 2px rgba(50, 50, 50, 0.30);
    border-top :0;

    & .recommendation-box__labels-wrapper {
        display: flex;
    }

    & .recommendation-box__label-container {
        display: flex;

        &.label-container-common {
            width: 80%;
        }

        &.label-container-date {
            width: 20%;
            justify-content: flex-end;
        }

        & .label {
            font-size: 12px;
        }
    }

    & .box-footer {
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
}
.recommendation-list-wrapper{
    padding-top: 5px;
    padding-bottom: 5px;
}
.recommendation-cliets-box{
    border-top: 1px;
}
@media (max-width: 767px) {

    .recommendation-box {
        & .box-footer {
            display: flex;
            justify-content: space-between;

            & .btn {
                width: 30%;
            }
        }
    }

  }
