.recommendation-box {
    @include round_box;

    & .recommendation-box__labels-wrapper {
        display: flex;
    }

    & .recommendation-box__label-container {
        display: flex;

        &.label-container-common {
            width: 80%;
        }

        &.label-container-date {
            width: 20%;
            justify-content: flex-end;
        }

        & .label {
            font-size: 12px;
        }
    }
}
.recommendation-list-wrapper{
    padding-top: 5px;
    padding-bottom: 5px;
}
.recommendation-cliets-box{
    border-top: 1px;
}
@media (max-width: 767px) {

    .recommendation-box {
        & .box-footer {
            display: flex;
            justify-content: space-between;

            & .btn {
                width: 30%;
            }
        }
    }

  }
