.hidden {
  display: none;
}
.preloader {
  display: inline-block;
  background: transparent url("../images/preloader.gif") no-repeat center center / contain;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  &-sm {
    width: 17px;
    height: 17px;
  }
}

#resend-link .preloader{
  margin-top: 15px;
}

.btn-green {
  color: white;
  background-color: rgb(103, 184, 112);
}
.btn-green:hover {
  color: white;
  background-color: rgb(83, 164, 92);
}
.btn-green:active,
.btn-green:focus {
  box-shadow: 0 0 0 0.2rem rgba(83, 164, 92, 0.25);
}