// Typography
$Roboto: "Roboto", sans-serif;
$Ubuntu: "Ubuntu", sans-serif;

$font-size-base: 16px;
$line-height-base: 22px;

$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-medium: 500;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;

$font-style-italic: italic;
$font-style-normal: normal;
$font-style-base: $font-style-normal;


// Colors
$light-smoky-white: #F4F4F4;
$white: #FFFFFF;
$black-blue: #181717;
$green: #65AB5B;
$blue: #558cb7;
$text: $black-blue;

$boxShadow: 0 2px 4px 0 rgba(0,0,0,0.1);

