.main-footer {
  height: 51px;
}

.fixed {
    & .main-footer-mobile {
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        position: fixed;
        height: initial;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #1f2c3e;

        & ul.footer-nav {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > li {
                display: flex;
                height: 40px;
                line-height: 20px;
                font-size: 20px;
                width: 33%;
                align-items: center;
                justify-content: center;

                & a {
                    height: 100%;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    color: #9e9e9e;
                }

                & .footer-item-title {
                    display: none;
                    font-size: 16px;
                }

                & .footer-item-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    & i {
                        position: relative;
                    }
                }

                &.active {
                    & a {
                        color: #ffffff;
                    }

                    & .footer-item-title {
                        display: inline;
                    }
                }
            }

            & a {
                display: flex;
                flex-direction: column;

                & .label {
                    position: absolute;
                    bottom: 6px;
                    left: 28px;
                    text-align: center;
                    font-size: 12px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.label-success {
                        background-color: #f39c12 !important;
                    }
                }
            }

        }
    }
}
