.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 186px;
}
.navbar .icon-finance {
  fill: $white;
  vertical-align: middle;
  margin-right: 10px;
}
.main-header .logo {
  height: 51px;
}
.navbar-custom-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    & .navbar-custom-title__item {
        padding: 15px;
        line-height: 20px;
        color: #ffffff;
        font-size: 25px;
    }
}
.main-header > .logo > .logo-lg {
    height: 100%;
    background-image: url(/svg/mera-logo.svg);
    background-size: cover;
}

@media (max-width: 767px) {
  .main-header .logo {
    display: none;
  }
  .main-sidebar {
    padding-top: 51px;
  }
}
