.shadow-box {
  width: 100%;
  background: $white;
  box-shadow: $boxShadow;
  border-radius: 4px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;

  &__title {
    display: flex;
    align-items: center;
    @include font(22px, $Ubuntu, $text, 26px, $font-weight-medium);
  }

  &__content {
    padding-top: 40px;
    box-sizing: border-box;
  }

  &_additionals {
    margin-top: 16px;
    padding: 15px 0;
    text-align: center;
  }
}

.no-shadow {
  box-shadow: none;
}

.no-padding-top {
  padding-top: 0px;
}

@media (min-width: 355px) and (max-width: 490px) {
  .shadow-box {
    &.disables_margins {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}